
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;

}
body{
    background-color: #ee93b1;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}

img{
    width: 100%;

}

header{
    
    background: #f8d1f8; 
}

header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
}

.navbar .nav-logo .logo-text{
    color: #ec407a;
    font-size: x-large;
    gap: 10px;
    display:flex;
  
}

.navbar .nav-menu{
    display: flex;
    gap: 1px;
    font-weight: bold;

}
.navbar .nav-menu .nav-link{
    padding:10px 18px;
    background: #f8d1f8;
    font-size: smaller;
color: #ec407a;
border-radius: 35px;
transition: 0.3s ease;
margin-right: 10px;
}
.navbar .nav-menu .nav-link:hover{
    color: #f8d1f8;
background:#ec407a ;
}
 .shopping img{
    list-style: none;
    padding: 0;
    display: flex;
    width:38px;
    height: auto;
    cursor: pointer;
    margin-left: 10px;
  
  
}
.shopping img:hover{
    opacity: 0.5;
}

h1{
    padding: 0;
    margin: 0;
    text-align:center ;
    font-size: medium;
    color: #ec407a;
    align-items: center;
    margin-top: 40px;

   
}
h1 img{
    
    width: 30px;
    margin-left: 0px;
    height: auto;
    
}

.gallery{
  width: 100%;
  height: 500px;
}
.gallery img{
    width: 250px;
  
    height: 250px;
    object-fit: cover;
    align-items: center;
    margin-top: 110px;
    cursor: pointer;
    margin-left: 165px;
   
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.2) translateY(-15px);
  z-index: 10;
}

  
.wrapper {
      list-style: none;
      display: flex;
      gap: 20px;
      padding: 0;
    }

    .icon {
      position: relative;
      width: 50px;
      height: 50px;
      background: #f8d1f8;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #de1267;
      cursor: pointer;
      transition: 0.3s;
      left: 700PX;
      margin-top: 100PX;
    }

    .icon:hover {
      transform: scale(1.2);
    }

    .tooltip {
      position: absolute;
      bottom: -25px;
      background: #f8d1f8;
      padding: 3px 8px;
      border-radius: 5px;
      font-size: 12px;
      opacity: 0;
      transition: 0.3s;
      pointer-events: none;
      white-space: nowrap;
      color: #ec407a;
    }

    .icon:hover .tooltip {
      opacity: 1;
      bottom: -35px;
    }

    .swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;         
  width: 100px;
  height: 100px;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left:50px ;
  margin-right:50px ;
 
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color:#f8d1f8 ;
  font-size: 20px;
  margin-top: 300%;
}








   


 
